/* recet */
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.title_author{
    font-size: 10px;
    opacity: 50%;
}
.jumbotron{
    background-color: rgb(212, 212, 212);
    padding: 20px 30px;
    width: 100%;
}
.form-control{
    width: 100%;
}

/* recet */
h1,h2,h3,h4,h5,h6{
    margin: 0;
}